<style>
    .nutritional-table {
        table tbody{
            span {
                font-size: 18px;
                font-weight: 600;
                color:#1D234C;
            }
            tr:nth-child(1) {
                strong {
                    background-image: linear-gradient( 270deg, #f8c24d 0%, #f51a51 20.5%, #9d36ac 45%, #573bd9 65%, #2396b5 82.25%, #62cebf 100% );
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                }
            }
        }
    }
</style>

<div class="nutritional-table">
    {{ section.settings.page.content }};
</div>

{% schema %}
{
  "name": "Tabela nutricional",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },

  "settings": [
    { "type": "page", "id": "page", "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label" }
  ],
  "presets": [
    {
        "name":"Tabela nutricional"
    }
  ]
}
{% endschema %}
